<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <meta name="google-site-verification" content="QKL044PPSaRC3qkz5BAG_9SwriaeOjEfOdYtuxm6uOE" />
</head>

<body>

<div class="jumbotron text-center">
  lmao this doesnt actually do anything kek
  gonna have to use <a>https://sites.google.com/site/gdocs2direct/</a> if you wanna generate links
</div>

</body>
</html>
